@charset "UTF-8";
/* CSS Document */

* {
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smooting: grayscale; 
  box-sizing: border-box; 
}

html, 
body {
  height: 100%;
  font-size: 1em; 
}

body {
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #FF5600;
}

.container {
  text-align: center;
  background-color: #ffffff; 
  
}

.inner {
  width: 70%; 
  margin-left: auto; 
  margin-right: auto; 
  padding: 30px; 
}

ul {
  padding: 30px;
  list-style:none; 
  width: 50%; 
  margin-left:auto; 
  margin-right: auto; 
}

h1 {
  font-size: 6em; 
  padding: 30px 0; 
  font-family: 'Bangers', cursive;
}

.checked {
  text-decoration:line-through; 
}


